.detail {
	  font-size: 13px;
	padding-top: 9px;
    padding-bottom: 9px;
}

.detail .date {
	font-size: 11px;
	color: #777;
	line-height: 1.1;
}

.parent .date {
	font-size: 11px;
	color: #777;
	line-height: 1.1;
}

.detail .deets {
	font-size: 13px;
	line-height: 18px;
}

.detail .description {
	font-size: 11px;
	font-style: italic;
	color: #777;
	line-height: 18px;}

.report {
	font-size: 13px;
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 8px;
}

.label {
	font-weight: bold;
}
select.detail  {
	width: 203px;
	margin-top: 5px;
	margin-right: 5px;
}

.input-row {
	background-color: #fff;
	height: auto !important;
	min-height: 35px;
}

.input-row .file {
	font-size: 11px;
	padding-top: 8px;
	padding-left: 8px;
}

.input-row .value {
  float: right;
  width: 65%;
  padding: 8px 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
	font-size: 14px;
  color: #333;
	line-height: 1.2;
	text-align: right;
}

.input-row .value.thumb {
	width: auto;
	float: left;
	padding-top: 5px;
}

.input-row label {
	float: left;
	width: 35%;
	padding: 8px 15px;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
}

.content {
	background-color: #001C58;
}

.title {
	background-color: #001C58;
}

.bar-nav .title {
	color: #ffffff;
}

.bar-nav a.icon {
	color: #fff;
}

.bar-nav a.btn {
	color: #fff;
}

.report.details {
	color: #fff;
}

.table-view-cell .report-name {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
  	color: #111;
  	font-weight: bold;
}

.table-view-cell .report-details {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
  	color: #777;
  	font-size: 12px;
}

.table-view-cell .detail {
	padding-top: 9px;
	padding-left: 12px;
	padding-bottom: 9px;
}

.table-view-cell .navigate-right strong {
	color: #777;
}

.table-view-cell.filler {
	height: 44px;
}