.detail {
	  font-size: 13px;
	  /*padding-right: 55px;*/
}

.detail .description {
	font-size: 12px;
	font-style: italic;
}

.report {
	font-size: 13px;
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 8px;
}

.label {
	font-weight: bold;
}
select.detail  {
	width: 203px;
	margin-top: 5px;
	margin-right: 5px;
}

