@(user: User, detailForm: Form[Detail])

@import helper._



@mobilemain {


    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      	<h1 class="title">Create Transaction</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
    			 @if(detailForm.hasErrors) {
			 <div style="margin: 15px;">
			    <div class="alert alert-danger">
			        <a class="close" data-dismiss="alert">x</a>
			        @if(detailForm.errors.size() > 0) {
			            @for((key, value) <- detailForm.errors) {
		                    @for(err <- value) {
		                        @err.message().toString() + @key
			                }
			            }
			        } else {No error returned.}
			    </div>
			    </div>
			  }
		@form(action = routes.Details.saveDetail(), 'enctype -> "multipart/form-data") {
		  <input type="hidden" name="parent.id" value="@detailForm.get().parent.id">
		  <div class="input-row">
		  	<label>Project</label>
		  	<input type="text" value="@detailForm.get().parent.name" readonly>
		  </div>
		  <div class="input-row">
		    <label>Date</label>
		    <input type="date" name="date" placeholder="2014-03-02">
		  </div>
		  <div class="input-row">
		    <label>Type</label>
		    <select name="category" class="detail">
		    	@for((option) <- Detail.Category.values()) {
		    		<option value="@option">@option</option>
				}
		    </select>
		  </div>
		  <div class="input-row">
		    <label>Name</label>
		    <input type="text" name="name" placeholder="name">
		  </div>		  
		  <div class="input-row">
		    <label>Description</label>
		    <input type="text" name="description" placeholder="description">
		  </div>
		  <div class="input-row">
		    <label>Amount</label>
		    <input type="text" name="amount" placeholder="$0.00">
		  </div>
		  <div class="input-row">
		    <label>Attachment</label>
		    <input class="file" type="file" name="attachment"/>
		  </div>
		  <div class="content-padded"><button class="btn btn-positive btn-block">Submit</button></div>	
}
		  <div class="content-padded"><a class="btn btn-negative btn-block" href="@routes.Parents.getParent(detailForm.get().parent.id)">Cancel</a></div>				

    </div>
    


}
