@(title:String, list: List[Detail], user: User)

@mobilemain {


    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
	    <a class="btn btn-link pull-left" id="edit" href="#">
	    	Edit
	  	</a>
	   <a class="icon icon-compose pull-right" href="@routes.Details.createDeet()">
	  	</a>
	  	<h1 class="title">@title</h1>
    </header>

    <div class="bar bar-footer">
  		<a class="icon icon-left pull-left" href="@routes.Details.getUnfiledDetails()" data-transition="slide-out"></a>
  		<a class="icon icon-share pull-right" href="#"></a>
	</div>
	
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
     <div >
        <ul class="table-view">
        	@for(i <- list) {
	          <li class="table-view-cell detail">
	            <a class="navigate-right" href="@routes.Details.getDetail(i.id)" data-transition="slide-in">
	            	<div>
	            	  <div class="date">@i.date.format("YYYY-MM-dd")</div>
		              <div class="deets">@i.category<span class="pull-right">@("%.2f".format(i.amount))</span></div>
		              <div class="description">@i.description </div>	
	            	</div>
	            </a>
	          </li>
	          }
        </ul>
      </div>
    </div>
    


}
