@(title:String, report: Parent, user: User)

@mobilemain {


    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
	    <button class="btn btn-negative pull-left" id="cancel" onclick="window.location='/parent/@report.id'">
	    	Done
	  	</button>
      	<h1 class="title">@title</h1>
    </header>

    <div class="bar bar-footer">

	</div>
	
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
      <div class="card">
        <ul class="table-view">
        	@for(i <- report.details) {
	          <li class="table-view-cell detail">
	            <button class="btn btn-negative pull-left" id="delete-@i.id" onclick="deleteDetail(@i.id)"><span class=" icon icon-trash"></span></button>
	              <p>@i.date.format("E, MMMM dd, YYYY")</p>
	              <div>@i.name<span class="pull-right">@("%.2f".format(i.amount))</span></div>
	              <span class="description">@i.description</span>	
	          </li>
	          }
        </ul>
      </div>
    </div>
    

}
