@(title:String, list: List[Parent], user: User)

@import helper._

@mobilemain {

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
	    <a href="@routes.Application.logout()">
	    	<button class="btn btn-link btn-nav pull-left">
	    		<span class="icon icon-left-nav"></span>
	    		Log Out
	  		</button>
	  	</a>
      	<h1 class="title">@title</h1>
    </header>
    @footer()
	@secondaryFooter(
		'leftLink -> routes.Parents.getSummary(),
    	'leftLabel -> "Manage Projects",
    	'rightLink -> routes.Details.getUnfiledDetails(),
    	'rightLabel -> "Manage Receipts"
		)
		
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
   
        <ul class="table-view">
	          <li class="table-view-cell parent">
	            <a class="navigate-right" href="@routes.Parents.getProjects()" data-transition="slide-in">
	              <span class="badge">@list.size()</span>  
	              <strong>Projects</strong>
	            </a>
	          </li>
	          <li class="table-view-cell parent">
	            <a class="navigate-right" href="@routes.Details.getUnfiledDetails()" data-transition="slide-in">
	              <span class="badge">@user.getUnfiledCount()</span>  
	              <strong>Unfiled</strong>
	            </a>
	          </li>
        </ul>
    </div>

}

