@(title:String, list: List[Parent], user: User, projectForm: Form[Parent])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(ratchet2Input.render) }

@mobilemain {


    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
	    <a class="icon icon-plus pull-right" href="#projectModal"></a>
      	<h1 class="title">@title</h1>
    </header>
    @footer()
	@secondaryFooter(
		'leftLink -> routes.Parents.getSummary(),
    	'leftLabel -> "Manage Projects",
    	'rightLink -> routes.Details.getUnfiledDetails(),
    	'rightLabel -> "Manage Receipts"
		)


    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <ul class="table-view">
        	@for(i <- list) {
	          <li class="table-view-cell parent">
	            <a class="navigate-right" href="@routes.Details.getDetails(i.id)" data-transition="slide-in">
	              @if(i.status != Parent.Status.Draft) {<i class="fa fa-lock"></i></span>}
	              <span class="badge">@i.details.size()</span>  
	              <strong>@i.name</strong>
            	  <div class="date">@i.date.format("YYYY-MM-dd")</div>
	            </a>
	          </li>
	          }
        </ul>
    </div>
    
    <!-- Compose modal -->
    <div id="projectModal" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#projectModal"></a>
        <h1 class="title">New project</h1>
      </header>
      <div class="content">
      	@form(action = routes.Parents.saveProject()) {
            @inputHidden(projectForm("createdBy.email"))
      		@inputText(projectForm("name"), 'placeholder -> "Project Name")
      		@inputDate(projectForm("date"))
      		@inputHidden(projectForm("status"))
		    <button type="submit" class="btn btn-outlined btn-block btn-primary">Submit</button>
			}
      </div>
    </div>
    <!-- /.modal -->
 }

